<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="login-body">

<div class="login-card">

    <h2>

        Finanzas Framework

    </h2>

    <p>

        Inicio de sesión

    </p>

    <form
            th:action="@{/login}"
            method="post">

        <div class="mb-3">

            <label>

                Correo electrónico

            </label>

            <input
                    class="form-control"
                    type="email"
                    name="correo"
                    th:value="${correo}"
                    required>

        </div>

        <div class="mb-4">

    <label for="contrasena" class="form-label">
        Contraseña
    </label>

    <div class="password-container">

        <input
            id="contrasena"
            class="form-control"
            type="password"
            name="contrasena"
            required>

        <button
            type="button"
            class="toggle-password"
            onclick="togglePassword()">

            <i id="passwordIcon" class="bi bi-eye"></i>

        </button>

    </div>

</div>

        <button
                class="btn btn-primary w-100"
                type="submit">

            Iniciar sesión

        </button>

        <div
        class="alert alert-danger mt-3"
        th:if="${error}"
        th:text="${error}">
</div>

        <div class="demo-user">
    <h5>Usuario de prueba</h5>

    <p>
        Correo:
        <strong>admin@finanzas.com</strong>
    </p>

    <p>
        Contraseña:
        <strong>123456</strong>
    </p>

</div>

    </form>

</div>

<script th:src="@{/js/login.js}"></script>

</body>

</html>